/* Importing google fonts - Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Custom named colors */
:root {
    --white: #fff;
    --config-shadow: rgba(0, 0, 0, 0.13);
    --quiz-shadow: rgba(0, 0, 0, 0.09);
    --soft-grey: #C6C6C6;
    --answer-bg: #F3F1FF;
    --black-bg: #32313C;
    --dark-purple: #403795;
    --deep-purple: #5145BA;
    --purple-accent: #9B8FFF;
    --answer-border: #B5ACFF;
    --hover-bg: #DAD5FD;
    --light-purple: #DFDAFD;
    --correct-border: #B7E1C1;
    --correct-bg: #D4EDDA;
    --correct-text: #155724;
    --incorrect-border: #F4BEC3;
    --incorrect-bg: #F8D7DA;
    --incorrect-text: #721C24;
    --timer-expired-bg: #C31402;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--deep-purple);
}

:where(.config-container, .quiz-container, .result-container){
    display: none;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 10px 25px var(--config-shadow);
}   

/* CONFIG CONTAINER */
.config-container {
    display: block;
    width: 415px;
    padding: 25px;
    text-align: center;
}

.config-container .config-title {
    font-size: 1.31rem; 
}

.config-container .config-option {
    margin-top: 25px;
}

.config-option .option-title {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.config-option .category-options {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr );
}

.config-option .question-options {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 0 30px;
    justify-content: center;
}

.config-option button {
    padding: 12px;
    font-size: 0.938rem;
    font-weight: 500;
    background-color: var(--white);
    border-radius: 6px;
    border: 1px solid var(--purple-accent);
    cursor: pointer;
    transition: 0.3s ease;
}

.config-option button.active {
    color: var(--deep-purple);
    border-color: var(--deep-purple);
    background-color: var(--light-purple);
}

.config-option button:hover,
.quiz-content .answer-option:hover {
    background-color: var(--hover-bg);
}

.question-options button {
    flex: 1 1 10%;
}

.config-container .start-quiz-btn,
.quiz-footer .next-question-btn,
.result-container .try-again-btn {
    color: var(--white);
    border: none;
    border-radius: 6px;
    background-color: var(--deep-purple);
    padding: 13px 25px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s ease;
}

.config-container .start-quiz-btn {
    margin-top: 30px;
}

.config-container .start-quiz-btn:hover,
.quiz-footer .next-question-btn:hover,
.result-container .try-again-btn:hover {
    background-color: var(--dark-purple);
}

/* QUIZ CONTAINER */
.quiz-container {
    width: 480px;   
}

.quiz-container .quiz-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 25px;
    box-shadow: 0 3px 6px var(--quiz-shadow);
}

.quiz-header .quiz-title {
    font-size: 1.43rem;
    font-weight: 700;
}

.quiz-header .quiz-timer {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 70px;
    padding: 7px 9px;
    border-radius: 6px;
    font-weight: 600;
    background-color: var(--black-bg);
    color: var(--white);
    transition: 0.3s ease;
}

.quiz-header .quiz-timer span {
    font-size: 1.4rem;
}

.quiz-container .quiz-content {
    padding: 20px 25px 25px;
}

.quiz-content .question-text{
    font-size: 1.5rem;
    font-weight: 600;
}

.quiz-content .answer-options {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    margin-top: 20px;
}

.quiz-content .answer-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    padding: 13px 16px;
    background-color: var(--answer-bg);
    border-radius: 6px;
    border: 1px solid var(--answer-border);
    cursor: pointer;
    transition: 0.3sec ease;
}

.quiz-content .answer-option span {
    display: block;
    flex-shrink: 0;
    margin: -4px -3px -4px 12px;
}

.quiz-content .answer-option.correct {
    border-color: var(--correct-border);
    background-color: var(--correct-bg);
    color: var(--correct-text);
}

.quiz-content .answer-option.incorrect {
    border-color: var(--incorrect-border);
    background-color: var(--incorrect-bg);
    color: var(--incorrect-text);
}

/* QUIZ FOOTER */
.quiz-container .quiz-footer {
    padding: 15px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--soft-grey);
}

.quiz-footer .question-status {
    font-weight: 500; 
}

.quiz-footer .question-status b,
.result-container .result-message b {
    font-weight: 600;
}

.quiz-footer .next-question-btn {
    display: inline-flex;
    gap: 5px;
    visibility: hidden;
    align-items: center;
    padding: 9px 17px;
}

/* RESULT CONTAINER */
.result-container {
    text-align: center;
    padding: 40px;
    width: 410px;   
}

.result-container .result-img {
    width: 110px;
}

.result-container .result-title {
    margin-top: 30px;
}

.result-container .result-message {
    font-size: 1.125rem;
    font-weight: 500;
    margin-top: 15px;
}

.result-container .try-again-btn {
    margin-top: 30px;
    padding: 12px 20px;
}

/* RESPONSIVE DESIGN*/
/* Media query code for mobile screens */
@media (max-width: 624px){
    .config-container,
    .quiz-container .quiz-content {
        padding: 20px;
    }

    .quiz-content .answer-option {
        padding: 12px 10px 12px 14px;
    }

    .config-container .question-options {
        padding: 0 15px;
    }

    .quiz-container .quiz-header,
    .quiz-container .quiz-footer {
        padding: 13px 20px;
    }

    .quiz-header .quiz-title,
    .quiz-content .question-text {
        font-size: 1.3rem;
    }

    .result-container {
        padding: 40px 20px;
    }

    .result-container .result-title {
        font-size: 1.4rem;
    }
}