body{
    background-color: hsl(0, 0%, 8%);
    text-align: center  ;
    font-family: "Inter", sans-serif;
}

.inter-400 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

h1{
    color: white;
    font-weight: normal;
    font-size: 25px;
}

h2{
    color: hsl(75, 94%, 57%);
    font-weight: normal;
    font-size: 14px;
}

p{
    color: white;
    font-size: 14px;
}

button{
    background-color: hsl(0, 0%, 20%);
    font-family: Inter;
    color: white;
    padding: 10px 5px;
    margin: 6px 30px;
    border: none;
    border-radius: 10px;
}

main a:link {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
  
main a:visited {
    text-decoration: none;
    color: white;
  }

.avatar{
    width: 80px;
    border-radius: 40px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(-45deg);
}

.content-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 50px auto 10px auto;
    background-color: hsl(0, 0%, 12%);
    width: 400px;
    border-radius: 10px;
}

#footer-links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

a:link {
    text-decoration: none;
    color: hsl(75, 94%, 57%);
  }
  
a:visited {
    text-decoration: none;
    color: hsl(75, 94%, 57%);
  }
