body {
    margin: 100px auto;
    display: block;
    color: #2b2839;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.avatar {
    width: 150px;
    box-shadow: 5px 5px 4px #fec5bb;
}

.card {
    width: 400px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    text-align: center;
    background-color: #fae1dd;
    border-bottom: 10px solid #fec5bb;
    border-right: 10px solid #d8e2dc;
}

img {
    transform: scaleX(-1);
}

p:hover {
    background-color: #d8e2dc;
    font-weight: 900;
    cursor: pointer;
  }
